@page
@using Microsoft.VisualStudio.Web.CodeGeneration.Contracts.Messaging
@model OdeToFood.ListModel
@{
	ViewData["Title"] = "List";
}

<h1>Restaurants</h1>
<form method="get">
	<div class="form-group">
		<div class="input-group">
			<input type="search" class="form-control" asp-for="SearchTerm" />
			<span class="input-group-append">
				<button class="btn btn-secondary" type="submit">
					Search
				</button>
			</span>
		</div>
	</div>
</form>


<table class="table">
	@{
		foreach (var restaurant in Model.Restaurants)
		{
			<tr>
				<td>@restaurant.Name</td>
				<td>@restaurant.Location</td>
				<td>@restaurant.Cuisine</td>
				<td>
					<a class="btn btn-dark" asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">Detail</a>
				</td>
				<td>
					<a class="btn btn-dark" asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">Edit</a>
				</td>
			</tr>
		}
	}
</table>




@Model.Message

